/* Background */
body {
	background: #ACEAFF;
}

#cloud {
  width: 350px; height: 120px;
  background: #f2f9fe;
  background: -webkit-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  
  border-radius: 100px;
  position: relative;
  margin: 180px auto 100px;
}

#cloud:after, #cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

#cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

#cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}

.shadow {
  width: 300px;
  position: absolute;
  bottom: -10px;
  left: 20px;  
  background: #000;
  z-index: -1;
  -webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
  box-shadow: 0 0 25px 3px rgba(0,0,0,0.3);
  border-radius: 50%;
}

/* Font */
#details {
    font-family: 'Source Code Pro', monospace;
}

/* Buttons */
.btn, .btn:hover {
    color: #88a5b1;
  }
  
  .btn-primary, .btn-primary:hover, .btn-success, .btn-success:hover, .btn-inverse, .btn-inverse:hover {
    color: #fff;
  }
  
  .btn {
    font: 14px 'Source Code Pro';
    padding: 12px 22px 10px;
    margin: 0;
    border: none;
    border-bottom: 3px #aacedd solid;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .btn:active {
    position: relative;
    top: 3px;
    border: none;
  }
  
  .btn-primary {
    border-bottom: 3px #000609 solid;
    background-image: -moz-linear-gradient(#0079bb, #005888);
    background-image: -webkit-linear-gradient(#0079bb, #005888);
    background-image: linear-gradient(#0079bb, #005888);
  }
  .btn-primary:hover {
    background-image: -moz-linear-gradient(#009aee, #005888);
    background-image: -webkit-linear-gradient(#009aee, #005888);
    background-image: linear-gradient(#009aee, #005888);
  }

  .btn-success {
    border-bottom: 3px #2d662d solid;
    background-image: -moz-linear-gradient(#7ec77e, #5bb75b);
    background-image: -webkit-linear-gradient(#7ec77e, #5bb75b);
    background-image: linear-gradient(#7ec77e, #5bb75b);
  }
  .btn-success:hover {
    background-image: -moz-linear-gradient(#a2d6a2, #5bb75b);
    background-image: -webkit-linear-gradient(#a2d6a2, #5bb75b);
    background-image: linear-gradient(#a2d6a2, #5bb75b);
  }
  

  